.ccm-responsive-overlay{display:none}

/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides > li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides > li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.rslides_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    z-index: 99;
    opacity: 0.7;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../../../../concrete/images/responsive-slides/arrows.gif") no-repeat left top;
    margin-top: -45px;
}

.rslides_tabs {
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.rslide_tabs li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
}

.rslide_tabs li.rslides_here a {
    background: #333;
}

.rslide-tabs li a {
    overflow: hidden;
    background: #ccccc9;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.rslides_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}


.ccm-image-slider{position:relative}.ccm-image-slider-text{position:absolute;width:45%;left:0;top:10%}.ccm-image-slider-title{margin-top:auto}.ccm-image-slider-container a.mega-link-overlay{position:absolute;z-index:20;width:100%;height:100%;left:0px}

.email_list_signup_success_inblock{padding:5px;background-color:#CCFFCC;border:1px solid green;color:black;max-width:336px}.email_list_signup_error_inblock{background-color:#FF9999;border:1px solid red;color:red;max-width:336px}.email_list_signup_error_inblock ul.error{list-style:disc inside;padding:5px;margin:0;color:red;font-weight:bold}.email_list_signup_success{width:100%;padding:5px 0 5px 10px;background-color:#CCFFCC;border:1px solid green;color:black}.email_list_signup_error{width:100%;padding:5px 0 0 10px;background-color:#FF9999;border:1px solid red;color:red}.email_list_signup_error ul.error{list-style:disc inside;padding:5px 0;color:red;font-weight:bold}.email_list_signup_container{float:left;width:100%;position:relative}.email_list_signup_container .in-field-label{color:#cdcdcd;font-style:italic}

